.env
stdout*
playground.py
*DS*
*nohup*

phonon/exec

# database
results

database/phonon_esen*
database/phonon_mace*
database/phonon_orb*
database/phonon_sevennet-mf-ompa_optpbesol
database/phonon_sevennet-mf-ompa_optmp
database/phonon_sevennet-mf-ompa_optTrue

database/st_esen*
database/st_mace*
database/st_orb*
database/st_sevennet*

database/data_screening_8717.pkl
database/data_screening.pkl
database/matnames_8717.pt

*__pycache__*
*.pyc
